.navigation{
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
	opacity: 0.66;
}

.links{
	list-style: none;
	display: flex;
}

.link{
	padding: 6.6px;	
	color: white;
	text-decoration: none;
	border: 1px solid white;
	margin: 5px;
}

.active{
	color: gray;
	opacity: 0.77;
}